// Font stack

$font-url             : "https://use.typekit.net/bdc1jns.css";
$stack-sofia          : 'SofiaProSoft', sans-serif;


// Font Weight

$font-wt-thin        : 200;
$font-wt-light       : 300;
$font-wt-regular     : 400;
$font-wt-bold        : 500;
$font-wt-bolder      : 600;
$font-wt-boldest     : 700;

// Font size
$base-font-size: 18px;

// Color Values
$white      : #fff;
$black      : #000;
$grey       : #383938;
$lt-orange  : #53545F;
$orange     : #ff8200;


// Color Usage
$color--primary     : $grey;
$color-secondary    :$orange;


// Color Palette modifiers
$palettes: (
  grey:  (
    xx-light : lighten($grey, 45%),
    x-light: lighten($grey, 35%),
    base: $grey,
    dark:  darken ($grey, 8%),
    x-dark : darken ($grey, 16%),
  )
);

// Asset paths

$pat-img        :'../images';


// grid

$g-col-width: 65px;
$g-gutter-width: 20px;
$g-col-count  : 12;
$g-cont-max-w: 1050px;


// Breakpoint
$brk-sm : 1px;
$brk-md : 768px;
$brk-lg : 1100px;
