/* Typography Styles --------------------- */

.container {
  @extend %marg-auto;
  font-family: $stack-mada;
  width: 100%;
  padding: 30px;
  background-color: #FFD9C3;
  max-width: 1440px;
}

.project-info{
  padding: 0 50px 30px;
  margin: 0 auto;
  height: auto;
  margin-bottom: 30px;
  max-width: 768px;
  background-color:rgba(255,255,255,.25);
  border: 1px solid rgba(0,0,0,.0975);
}


.video-section{
  max-width: 768px;
  margin: 0 auto;
}

h2 {
  margin: auto;
  font-size: 26px;
  color: #fff;
  font-weight: $font-wt-regular;
  padding-top: 45px;
  text-align: center;
}

.subhead {
  font-size:22px;
  font-weight: $font-wt-thin;
  text-align: center;
}

.caption-text {
  font-weight: $font-wt-bold;
}
